blinker==1.8.2
click>=8.1,<9
colorama==0.4.6
Flask==2.3.3
gunicorn==23.0.0
itsdangerous==2.2.0
Jinja2==3.1.6
MarkupSafe==2.1.5
packaging==25.0
Werkzeug==2.3.7
certifi==2024.8.30
charset-normalizer==3.4.0
dnspython==2.6.1
email_validator==2.2.0
Flask-Login==0.6.3
Flask-SQLAlchemy==3.1.1
Flask-WTF==1.2.1
flask_requests==0.0.14
greenlet==3.1.1
idna==3.10
pampy==0.3.0
requests==2.32.3
SQLAlchemy==2.0.36
typing_extensions==4.12.2
urllib3==2.2.3
WTForms==3.1.2
Flask-SocketIO==5.3.6
google-generativeai==0.3.1
PyPDF2==3.0.1
nltk==3.8.1
transformers==4.38.2
torch==2.2.1
